{% extends "layout.html.jinja" %}
{% import "_macros.html.jinja" as m %}
{% block content %}
{% call m.p() %}<strong>{{ org_name }}</strong> submitted <strong>{{ event_title }}</strong> for approval.{% endcall %}
{% call m.p() %}{{ m.button("Review event", url) }}{% endcall %}
{% endblock %}
