{% extends "layout.html.jinja" %}
{% import "_macros.html.jinja" as m %}
{% block content %}
{% call m.p() %}The password for your Showtik account was just changed.{% endcall %}
{{ m.details([("When", changed_at)]) }}
{% call m.callout() %}If this wasn't you, reset your password right away and contact {{ support_email }}.{% endcall %}
{% call m.p() %}{{ m.button("Sign in", login_url) }}{% endcall %}
{% endblock %}
