{% extends "layout.html.jinja" %}
{% import "_macros.html.jinja" as m %}
{% block heading %}Your payment didn't go through{% endblock %}
{% block content %}
{% call m.p() %}Hi {{ buyer_name|default("there") }}, we couldn't complete your payment, so no tickets were issued.{% endcall %}
{{ m.details([("Event", event_title), ("Order", order_code), ("Amount", total)]) }}
{% call m.p() %}If money was debited, it will be refunded automatically to your original payment method within 5–7 working days.{% endcall %}
{% call m.p() %}{{ m.button("Try booking again", site() ~ "/events/" ~ event_id) }}{% endcall %}
{% endblock %}
